body {
  background-color: #f9f7fe;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgb(22, 22, 24);
}
