body {
  background-color: #f9f7fe;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgb(22, 22, 24);
}
#search-input {
  background-color: #f9f7fe;
  border: none;
  width: 75%;
  padding: 20px;
  border-radius: 13px;
}
#search-button {
  background-color: #885df1;
  border: none;
  padding: 15px;
  border-radius: 13px;
  color: white;
  margin: 10px;
  width: 20%;
  font-size: 16px;
}
footer {
  padding: 30px 0 0 0;
  text-align: center;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
.humidity-percent {
  color: #f65282;
}
.wind-speed {
  color: #f65282;
}
.weather-app-rap {
  display: flex;
}
.weather-temperature {
  font-size: 80px;
  font-weight: bold;
  margin-left: 10px;
}
.icon {
  font-size: 45px;
  margin-top: 15px;
}
.temperature-units {
  margin-top: 30px;
  font-size: 35px;
}
.city {
  font-weight: bold;
}
.weather-focast-date {
  text-align: center;
  margin-bottom: 10px;
}
.weather-focast-icon {
  text-align: center;
  margin-bottom: 10px;
}
.temperatures {
  text-align: center;
  color: #f65282;
  display: flex;
  justify-content: center;
}
.temperature1 {
  padding: 0 10px;
}
.weather-focast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
